In [1]:
from collections import namedtuple
import pandas as pd

In [3]:
import os
os.getcwd()

'/Users/sofanabenoutiq/Desktop/restaurantRatingPrediction/notebook'

In [4]:
os.chdir('/Users/sofanabenoutiq/Desktop/restaurantRatingPrediction')

In [5]:
os.getcwd()

'/Users/sofanabenoutiq/Desktop/restaurantRatingPrediction'

In [9]:
import pandas as pd
data = r'/Users/sofanabenoutiq/Desktop/restaurantRatingPrediction/restautantRating/artifact/data_ingestion/2023-01-11-18-35-12/raw_data/zom.csv'

df = pd.read_csv(data)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9551 non-null   int64
 1   Restaurant_Name       9551 non-null   object
 2   Country Code          9551 non-null   int64
 3   City                  9551 non-null   object
 4   Address               9551 non-null   object
 5   Locality              9551 non-null   object
 6   Locality Verbose      9551 non-null   object
 7   lon                   9551 non-null   float64
 8   lat                   9551 non-null   float64
 9   Cuisines              9542 non-null   object
 10  cost_for_two          9551 non-null   int64
 11  Currency              9551 non-null   object
 12  Has Table booking     9551 non-null   object
 13  Has Online delivery   9551 non-null   object
 14  Is delivering now     9551 non-null   object
 15  Switch to order menu  9551 non-null   object
 16  Price_Range           9551 non-null   int64
 17  Rating                9551 non-null   float64
 18  Rating color          9551 non-null   object
 19  Review                9551 non-null   object
 20  Votes                 9551 non-null   int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB

In [11]:
df.head()

,Restaurant ID,Restaurant_Name,Country Code,City,Address,Locality,Locality Verbose,lon,lat,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price_Range,Rating,Rating color,Review,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [13]:
df.isnull().sum()

Restaurant ID           0
Restaurant_Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
lon                     0
lat                     0
Cuisines                9
cost_for_two            0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price_Range             0
Rating                  0
Rating color            0
Review                  0
Votes                   0
dtype: int64

In [15]:
df.columns

Index(['Restaurant ID', 'Restaurant_Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'lon', 'lat', 'Cuisines',
       'cost_for_two', 'Currency', 'Has Table booking', 'Has Online delivery',
       'Is delivering now', 'Switch to order menu', 'Price_Range', 'Rating',
       'Rating color', 'Review', 'Votes'],
      dtype='object')

In [18]:
df.describe()

,Restaurant ID,Country Code,lon,lat,cost_for_two,Price_Range,Rating,Votes
count,9.551000e+03,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000
mean,9.051128e+06,18.365616,64.126574,25.854381,1199.210763,1.804837,2.666370,156.909748
std,8.791521e+06,56.750546,41.467058,11.007935,16121.183073,0.905609,1.516378,430.169145
min,5.300000e+01,1.000000,-157.948486,-41.330428,0.000000,1.000000,0.000000,0.000000
25%,3.019625e+05,1.000000,77.081343,28.478713,250.000000,1.000000,2.500000,5.000000
50%,6.004089e+06,1.000000,77.191964,28.570469,400.000000,2.000000,3.200000,31.000000
75%,1.835229e+07,1.000000,77.282006,28.642758,700.000000,2.000000,3.700000,131.000000
max,1.850065e+07,216.000000,174.832089,55.976980,800000.000000,4.000000,4.900000,10934.000000

In [19]:
numerical_features=[feature for feature in df.columns if df[feature].dtypes!='O']
numerical_features

['Restaurant ID',
 'Country Code',
 'lon',
 'lat',
 'cost_for_two',
 'Price_Range',
 'Rating',
 'Votes']

In [20]:
df.isnull().sum()

Restaurant ID           0
Restaurant_Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
lon                     0
lat                     0
Cuisines                9
cost_for_two            0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price_Range             0
Rating                  0
Rating color            0
Review                  0
Votes                   0
dtype: int64

In [22]:
duplicated = df.duplicated()
duplicated.sum()

0

In [27]:
non_numerical_features=[feature for feature in df.columns if df[feature].dtypes=='O']
non_numerical_features

['Restaurant_Name',
 'City',
 'Address',
 'Locality',
 'Locality Verbose',
 'Cuisines',
 'Currency',
 'Has Table booking',
 'Has Online delivery',
 'Is delivering now',
 'Switch to order menu',
 'Rating color',
 'Review']

In [32]:
df['Is delivering now'].unique()

array(['No', 'Yes'], dtype=object)